<header>
  <h1>
    {{title}}
  </h1>
</header>

<div class="main">
  <p> Hello, human. </p>

  <app-my-signup-form>heh</app-my-signup-form>

  <app-my-property-binding>Hahaha</app-my-property-binding>
  <app-my-event-binding>HAHAHAHAHA</app-my-event-binding>
  <app-my-mixed-binding>HAHAHAHAHAHAHAHAHAHA</app-my-mixed-binding>
  <app-built-in-pipes>*blagurrrh*</app-built-in-pipes>
  <app-animals>*BAAAAAAAAAAAAAAAAKAKAKAKAKAAAAAA*</app-animals>
</div>

<footer>
  <p> Copyright etc. </p>
</footer>
